html {
    margin: 0;
    padding: 0;
}

h1 {
	font-family: arial;
}

header {
	font-family: palatino;
	font-size: 16px;
	background: url('woodbackground.png');
	text-align: center;
	color: #ffffff;
	padding-top: 70px;
	padding-bottom: 70px;
}

body { 
	font: 16px arial, sans-serif;
	color: #555753; 
	background-color: #c49f64; 
	margin-left: 100px; 
	margin-right: 100px;
	padding: 0;
}

.maintext {
	background-color: #ffffff;
	padding: 10px;
	display: flex;
	flex-flow: row;
	background: #dddd88;
}

.maintext > .summary {
	margin: 4px;
	border-radius: 7pt;
	background: #dddd88;
	flex: 3 1 60%;
	order: 1;
}

.maintext > .sidebar {
	margin: 4px;
	border-radius: 7pt;
	background: #dddd88;
	flex: 1 1 20%;
	order: 2;
	border: 3px solid #555753;
	padding: 5px;
	text-align: center;
}

li {
	text-align: left;
}

.sidebar {
	flex: 1;
	margin-left: 400px;
}

.chapter {
	margin: 4px;
	padding-left: 20px;
	padding-right: 50px;
	background: #dddd88;
	flex: 3 1 60%;
	order: 1;
}

.return {
	font-size: 13px;
	font-family: Arial, Helvetica, sans-serif;
}

.infotable {
	text-align: center;
	align-content: center;
	background: url('woodbackground.png');
}

.contact-table {
	background-color: yellow;
}

.firstcol {
	font-style: bold;
}